{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">recipeAuthorId</th>
        <th scope="col">recipeName</th>
        <th scope="col">recipeContent</th>
        <th scope="col">recipeCalorie</th>
        <th scope="col">recipeCookingTime</th>
        <th scope="col">recipeLevel</th>
        <th scope="col">recipeLike</th>
        <th scope="col">recipeCreatedAt</th>
        <th scope="col">recipeUpdatedAt</th>
    </tr>
    </thead>
    <tbody>
    {{#recipeList}}
        <tr>
            <th>{{recipeAuthorId}}</th>
            <td><a href="/recipe/{{recipeId}}">{{recipeName}}</a></td>
            <td>{{recipeContent}}</td>
            <td>{{recipeCalorie}}</td>
            <td>{{recipeCookingTime}}</td>
            <td>{{recipeLevel}}</td>
            <td>{{recipeLike}}</td>
            <td>{{recipeCreatedAt}}</td>
            <td>{{recipeUpdatedAt}}</td>
        </tr>
    {{/recipeList}}
    </tbody>
</table>
<a href="/recipe/new">New recipe</a>
<h2>Top 3 Liked Recipes</h2>
{{#top3LikesRecipes}}
    <div>
        <h3><a href="/recipe/{{recipeId}}">{{recipeName}}</a></h3>
        <p>{{recipeContent}}</p>
        <p>Likes: {{recipeLike}}</p>
    </div>
    <hr>
{{/top3LikesRecipes}}

{{>layouts/footer}}